<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>データベース</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>メールアドレス</th>
                <th>名前</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${userlist}" th:object="${user}">
                <td th:text="*{id}"></td>
                <td th:text="*{email}"></td>
                <td th:text="*{name}"></td>
                <td th:text="*{password}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>